extends /layout

block css
    link(rel='stylesheet', href='#{assetsCDN}/s/admin/user/manager.css')
block js
    script.
        seajs.use('s/admin/user/manager')

block content
    .wrapper
        .wrapper-990
            h1 添加新用户
            form#add-user(action="/admin/user/add-user",method="post",name="add-user")
                input(type="hidden",name="_csrf",value="#{token}")
                table
                    tr
                        th(width) 用户名
                        td
                            input(type="text",name="user-name")
                    tr
                        th 密码
                        td
                            input(type="password",name="pwd1")
                    tr
                        th 确认密码
                        td
                            input(type="password",name="pwd2")
                    tr
                        th 权限(空格隔开)
                        td
                            input(type="text",name="group")
                    tr
                        th
                        td
                            input.btn.btn-large(type="submit",value="添加用户")
            h1 编辑用户权限
            #edit-user
                table(style="width:100%")
                    tr
                        th(width="10%").user-name 用户名
                        th(width="60%").group 权限(空格隔开)
                        th.st 创建时间
                        th.control 操作
                    - docs.forEach(function(user){
                        tr(data-id="#{user._id}").J-item
                            td(align="right")
                                span.user-name=user.user
                            td
                                input.group.text-field.J-group(type="text",name="group",value="#{user.group.join(' ')}")
                            td
                                - var d = new Date(user.ts)
                                span.ts #{d.getFullYear()}-#{d.getMonth()+1}-#{d.getDate()} #{d.toLocaleTimeString()}
                            td
                                a(href="#").btn.J-update-user 更新权限
                                | &nbsp
                                a(href="#",data-id="").btn.J-delete-user 删除
                    -})
