doctype 5
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        link(rel="icon",href="/favicon.ico",type="image/x-icon")
        link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
        title 视界 Beta
        link(rel='stylesheet', href='#{assetsCDN}/s/??reset.css,global.css,font.css?t=20131213.css')
        | <!--[if lte IE 7]><script src="#{assetsCDN}/s/fonts/lte-ie7.js"></script><![endif]-->
        script(src="http://g.tbcdn.cn/kissy/k/1.4.0/seed-min.js",data-config="{combine:true}")
        block css
        script.
           if(location.host==='192.168.155.100'){
                location.href='http://www.sjplus.cn/'
           }
            window._csrf_token_='#{req.csrfToken()}';
            window.onerror=function(msg,url,line){
                var r = window.ActiveXObject ? new window.ActiveXObject("Microsoft.XMLHTTP") : new window.XMLHttpRequest()
                r.open("POST", '/admin/log/browser-log', true)
                r.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                r.send('_csrf='+window._csrf_token_+'&msg='+encodeURIComponent(msg)+'&url='+encodeURIComponent(url)+'&line='+line+'&location='+encodeURIComponent(location.href))
                return false
            }
            window['hostDOMAIN']='#{hostDOMAIN}';
            window['assetsCDN']='#{assetsCDN}'
            window['imgCDN']='#{imgCDN}'
            if(!window.console)window.console={log:function(){}}
        script(id="seajsnode",src="#{assetsCDN}/s/??sea.js,seajs-combo.js,sea-style.js,global/jquery.js,config.js?t=20131213.js")
    body
        #navigation
            .wrapper
                .wrapper-990.clearfix
                    h1
                        a(href="/")
                            img(src="/s/logo.png")
                    ul
                        li
                            #login-register-area
                                - if(!req.session._id)
                                    .J-login-register-triggers
                                        a.J-login-triggers(href="javascript:void(0)") 登陆
                                        span.J-spector.spector /
                                        a(href="/register") 注册
                                - else
                                    .login-user-info.J-logged-list-triggers
                                        span.avatar.J-user-card(data-user-id="#{req.session._id}")
                                            img.J-avatar-own-20(src="#{imgCDN}/avatar/#{req.session._id}_20x20")
                                        span.J-user-name #{req.session.user}
                                        #logged-wrapper.hide
                                            .logged-list.J-logged-list
                                                .list
                                                    ul
                                                        li
                                                            a(href="/u/#{req.session._id}") 我的主页
                                                        li
                                                            a.J-publish-work 发布作品
                                                        li
                                                            a(href='/personal#all-works{"view":"design"}') 管理设计作品
                                                        li
                                                            a(href="/personal#account-setting") 帐号设置，头像
                                                        li
                                                            a(href="/login/login-out") 退出
                        li
                            a(href="/article") 文章
                        li
                            a(href="/design-works") 作品展
        block content
        #footer
            .main-wrapper
                .wrapper-990#footer-container
                    h2
                        a(href="/")
                            img(src="/read/52959f11d6fa886445000040.png")
            .copyright
                .wrapper-990
                    | &copy; beyondsoft 2013~

        script(src="#{assetsCDN}/s/??global/dist/init.js,global/dist/login/login.js,global/dist/publish-type/init.js,global/dist/crypto/sha3.js,global/dist/weixin-weibo-float-menu/init.js,sea-modules/xiongsongsong/template/1.1.0/template.js,sea-modules/arale/popup/1.1.5/popup.js,sea-modules/arale/position/1.0.1/position.js,global/dist/card/init.js")
        script.
            seajs.use([
                'sjplus/global/0.0.1/init',
                'sjplus/global/0.0.1/login/login',
                'sjplus/global/0.0.1/publish-type/init',
                'sjplus/global/0.0.1/weixin-weibo-float-menu/init',
                'sjplus/global/0.0.1/card/init'
            ])

        block js
        - if(req.session && req.session.userSessionNotice)
            - Object.keys(req.session.userSessionNotice).forEach(function(item){
                script(src="#{assetsCDN}/s/user-session-notice/dist/#{item}/init.js")
                script.
                    seajs.use(['sjplus/user-session-notice/0.0.1/require_modify_pwd/init'])
            -})

        script.
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F03fa9269ff13e7c3893916e712b703ee' type='text/javascript'%3E%3C/script%3E"));
