doctype 5
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title= title
        link(rel='stylesheet', href='#{assetsCDN}/s/reset.css')
        link(rel='stylesheet', href='#{assetsCDN}/s/global.css')
        link(rel='stylesheet', href='#{assetsCDN}/s/font.css')
        | <!--[if lte IE 7]><script src="#{assetsCDN}/s/fonts/lte-ie7.js"></script><![endif]-->
        script(src="http://g.tbcdn.cn/kissy/k/1.4.0/seed-min.js",data-config="{combine:true}")
        block css
        script.
            window['hostDOMAIN']='#{hostDOMAIN}'
            window['assetsCDN']='#{assetsCDN}'
            window['imgCDN']='#{imgCDN}'
            if(!window.console)window.console=function(){}
        script(src="http://g.tbcdn.cn/kissy/k/1.4.0/seed-min.js")
        script(id="seajsnode",src="#{assetsCDN}/s/sea.js")
        script.
            KISSY.config({
                modules: {
                    'sizzle': { alias: ['node'] },
                    'ajax': { alias: ['io'] },
                    'calendar': { alias: ['gallery/calendar-deprecated/1.0/']  },
                    'datalazyload': {  alias: ['gallery/datalazyload/1.0/'] },
                    'switchable': { alias: ['gallery/switchable/1.3.1/'] },
                    'imagezoom': { alias: ['gallery/imagezoom/1.0/'] },
                    'waterfall': { alias: ['gallery/waterfall/1.0/'] },
                    'flash': { alias: ['gallery/flash/1.0/'] }
                }
            });
            seajs.config({
                base :"#{assetsCDN}/s/sea-modules/",
                vars: {
                    locale: 'zh-cn'
                },
                paths:{
                    s : "#{assetsCDN}/s",
                    sea:"#{assetsCDN}/s/sea-modules"
                },
                alias: {
                    "$": 's/global/jquery',
                    'sha3':'s/global/crypto/sha3',
                    template: 'sea/xiongsongsong/template/1.1.0/template',
                    'popup':'sea/arale/popup/1.1.5/popup'
                },
                preload: ['$']
            });
            seajs.use('s/global/init')
            var _csrf_token_="#{token}"
    body
        #navigation
            .wrapper
                .wrapper-990
                    h1
                        a(href="/") Logo
                    ul
                        li
                            a 作品展
                        li
                            a 文章
                        li
                            a 关于我们
                        li
                            a 招聘
                        li
                            #login-register-area
                                //#user-info
                                    span
                                        img(src="http://dribbble.s3.amazonaws.com/users/49563/avatars/original/f7c80d46.jpg?1325837502")
                                    span.user_name Jakon
                                    .list
                                        a 信息
                                        a("/publish/design-works") 发布作品
                                        a 设置帐号
                                        a 退出

                                .J-login-register-triggers
                                    a.J-login-triggers(href="javascript:void(0)") 登陆
                                    span.J-spector.spector /
                                    a(href="#") 注册


        block content
        #footer
            .main-wrapper
                .wrapper-990
                    h2 LOGO
                    p.des XXUX是用户体验部门。负责广告和无线，以及一淘网的用户体验工作。致力于为用户打造跨平台的统一的优良产品体验。
                    .job
                        h3 最新招聘
                        ul.list
                            li
                                a [杭州] 杭州UX正在照片：视觉设计师
                            li
                                a [杭州] 杭州UX正在照片：视觉设计师
                            li
                                a [杭州] 杭州UX正在照片：视觉设计师
                    .article
                        h3 设计资讯
                        ul.list
                            li
                                a 扁平化设计新趋势
                            li
                                a [Web页面中的“们”-web端登陆页面的设计]
                            li
                                a 界面设计俗称【淘宝UDC】
            .copyright
                .wrapper-990
                    | 版权信息

        block js