extends /layout
block css
    link(rel="stylesheet",href="#{assetsCDN}/s/article/detail.css")
block js
    script.
        seajs.use('s/article/init')
block content
    .wrapper
        .wrapper-990.clearfix
            -if(typeof title!=='undefined')
                #article-content
                    #article-title
                        h1
                            img.avatar(src="#{imgCDN}/avatar/#{owner_id}_30x30")
                            =title
                    #article-img
                        img(width="770",height="200",src="#{imgCDN}/read/#{thumbnails_id}")
                    #content-wrapper !{content}
            -else
                | Nothing