block variables
    -var pageTitle='文章列表页'
extends /layout
block css
    link(rel="stylesheet",href="#{assetsCDN}/s/article/article.css")
block content
    .wrapper
        .wrapper-990.clearfix
            #article-container
                -data.forEach(function(item){
                    .article
                        h2
                            a.J-user-card(href="/u/#{owner_id}",data-user-id="#{item.owner_id}")
                                img.avatar(src="#{imgCDN}/avatar/#{item.owner_id}_30x30")
                            span.title
                                a(href="/article/#{item.title}")=item.title
                            -if(item.tag.length>0)
                                span.tag 【#{item.tag.join(',')}】
                            -var date=new Date(item.ts)
                            span.date #{date.getFullYear()}年#{date.getMonth()+1}月
                        p.banner
                            a(href="/article/#{item.title}")
                                img(width="770",height="200",src="#{imgCDN}/read/#{item.thumbnails_id.split(':')[0]}")
                        .content=item.content

                -})
            #sidebar
                h2 分类
                #category-container
block js
    script(src="#{assetsCDN}/s/article/dist/list/init.js")
    script.
        seajs.use([
            'sjplus/article/0.0.1/list/init'
        ])
