extends /layout

block css
    link(rel="stylesheet",href="#{assetsCDN}/s/design-works/detail.css")
block js
    script.
        var designWorksId="#{docs._id}"
        seajs.use('s/design-works/detail')

block content
    #main-container.wrapper-990.clearfix
        .main-content
            h1
                a.avatar(href="/u/#{docs.owner_id}")
                    img(src="#{imgCDN}/avatar/#{docs.owner_id}_80x80")
                span.title=docs.title
                span.category 【#{docs.category}】
                - var date=new Date(docs.ts)
                    span.date #{date.getFullYear()}年#{date.getMonth()+1}月#{date.getDate()}日 #{date.getHours()} : #{date.getMinutes()}

            .main-pic-container
                .main-pic
                    img(src="#{imgCDN}/read/#{docs.file_id.split(':')[0]}")
                -if(docs.ps_id.length>0)
                    .ps 附件下载
                        -docs.ps_id.forEach(function(item,index){
                            -item=item.split(':')
                                a(href="#{imgCDN}/read/#{item[0]}",download="#{item[1]}") #{item[1]}
                        -})
            #J-comment-wrapper(data-page-id="#{docs._id}",data-type="design-works")
        .sidebar
            .des
                h2 设计简介：
                div.describe=docs.content
                div.love-comment.clearfix
                    a.J-like.trigger(data-id="#{docs._id}")
                        span.data-icon(data-icon!="&#xe007;")
                        span.text.J-text 喜欢(#{docs.index.love})
                    a.J-comment-trigger.trigger(data-id="#{docs._id}")
                        span.data-icon(data-icon!="&#xe006;").
                        span.text.J-text 评论
                //.banner
                    h2 更多
                    p
                        a.pic(herf="http://adfadfasdf")
                            img(src="#{assetsCDN}/s/global/temp1.png")
                        a.pic(herf="#")
                            img(src="#{assetsCDN}/s/global/temp2.png")
            //.tag
                h2 相关标签
                .tag-control
                    #foreach
                        a=item
