extends layout

block content
    h1= title
    form(action="/preview",name="origin-template")
        input(type="text",name="page_name",placeholder="页面名称",size="100")
        input(type="text",name="page_url",placeholder="页面访问的URL",size="150")
        textarea#textarea(name="content",rows=10,cols=150)
        input(type="submit",value="开始编译模板并构造表单")
    form(name="compile-template")
    ul
    -docs.forEach(function(item){
        li
            a(href="/edit/source/#{item._id}")=item.page_name
            | |
            a(href="/edit/data/#{item._id}") 编辑数据
            | |
            a(href="/publish/#{item._id}") 发布代码
            | |
            a(href="/go/#{item.page_url.replace(/.jstpl$/,'')}") 查看线上地址
    -})

block js
    script.
        KISSY.ready(function(){seajs.use('s/cms/compile-template')})