doctype 5
html
    head
        meta(charset="utf-8")
        title= title
        script(src='http://g.tbcdn.cn/tb/tlabs/0.0.3/js/??jquery/1.10.2.min.js')
        link(rel="stylesheet",href="/s/cms/bootstrap.min.css")
        script(src="/s/cms/bootstrap.min.js")
        script(src="http://g.tbcdn.cn/kissy/k/1.4.0/seed-min.js?20131106")
        script(id="seajsnode",src="/s/sea.js")
        block css
    body
        block content

        script.
            window._csrf_token_='#{token}'
            KISSY.config({
                modules: {
                    'sizzle': { alias: ['node'] },
                    'ajax': { alias: ['io'] },
                    'calendar': { alias: ['gallery/calendar-deprecated/1.0/']  },
                    'datalazyload': {  alias: ['gallery/datalazyload/1.0/'] },
                    'switchable': { alias: ['gallery/switchable/1.3.1/'] },
                    'imagezoom': { alias: ['gallery/imagezoom/1.0/'] },
                    'waterfall': { alias: ['gallery/waterfall/1.0/'] },
                    'flash': { alias: ['gallery/flash/1.0/'] }
                }
            });
            seajs.config({
                base :"#{assetsCDN}/s/sea-modules/",
                vars: {
                    locale: 'zh-cn'
                },
                paths:{
                    s : "#{assetsCDN}/s",
                    sea:"#{assetsCDN}/s/sea-modules"
                },
                alias:{
                    template: 'sea/xiongsongsong/template/1.1.0/template',
                }
            });
            window['imgCDN']='#{imgCDN}'
        block js