extends /layout

block css
    link(rel="stylesheet",href="/design-works/share/detail.css")

block content
    #main-container.wrapper-990.clearfix
        .main-content
            h1
                a.avatar
                    img(src="http://dribbble.s3.amazonaws.com/users/49563/avatars/original/f7c80d46.jpg?1325837502")
                span.title=docs.title
                span.category 【#{docs.category}】
                span.date 2013年6月

            .main-pic-container
                .main-pic
                    img(src="/read/#{docs.file_id.split(':')[0]}")
                .ps 附件下载
                    -docs.ps_id.forEach(function(item,index){
                        -item=item.split(':')
                            a(href="/read/#{item[0]}",download="#{item[1]}") #{item[1]}
                    -})
        .sidebar
            h2 设计简介：
            .des
