extends /layout

block css
    link(rel="stylesheet",href="/design-works/share/detail.css")

block content
    #main-container.wrapper-990.clearfix
        .main-content
            h1
                a.avatar
                    img(src="http://dribbble.s3.amazonaws.com/users/49563/avatars/original/f7c80d46.jpg?1325837502")
                span.title=docs.title
                span.category 【#{docs.category}】
                span.date 2013年6月

            .main-pic-container
                .main-pic
                    img(src="/read/#{docs.file_id.split(':')[0]}")
                -if(docs.ps_id.length>0)
                    .ps 附件下载
                        -docs.ps_id.forEach(function(item,index){
                            -item=item.split(':')
                                a(href="/read/#{item[0]}",download="#{item[1]}") #{item[1]}
                        -})
                -else
                    .ps 该文件没有附件
        .sidebar
            h2 设计简介：
            .des=docs.content
            div(data-icon!="&#xe000;",aria-hidden="true") &#xe000;

            //喜欢和评论
            div.love-comment

