extends /layout

block css
    link(rel="stylesheet",href="#{assetsCDN}/s/design-works/share/detail.css")
block js
    script.
        seajs.use('s/design-works/share/detail')

block content
    #main-container.wrapper-990.clearfix
        .main-content
            h1
                a.avatar
                    img(src="#{imgCDN}/avatar/#{docs.owner_id}_80x80")
                span.title=docs.title
                span.category 【#{docs.category}】
                span.date 2013年6月

            .main-pic-container
                .main-pic
                    img(src="#{imgCDN}/read/#{docs.file_id.split(':')[0]}")
                -if(docs.ps_id.length>0)
                    .ps 附件下载
                        -docs.ps_id.forEach(function(item,index){
                            -item=item.split(':')
                                a(href="#{imgCDN}/read/#{item[0]}",download="#{item[1]}") #{item[1]}
                        -})
                -else
                    .ps 该文件没有附件
            #J-comment-container.J-comment-container(data-id="#{docs._id}")
                h2 3条评论
                #comment-container.comment-container
                    .item-container.new-comment.J-new-comment.ks-waterfall
                        textarea#J-comment-textarea(data-id="#{docs._id}")
                        .J-send-new-comment
                            button.J-send-new-comment-trigger.btn.btn-normal 发送

        .sidebar
            .des
                h2 设计简介：
                div=docs.content
                div.love-comment.clearfix
                    a.J-love.trigger
                        span.data-icon(data-icon!="&#xe009;")
                        span.text.J-text 喜欢
                    a.J-comment-trigger.trigger
                        span.data-icon(data-icon!="&#xe006;").
                        span.text.J-text 评论
                .banner
                    h2 更多
                    //p
                        a.pic(herf="http://adfadfasdf")
                            img(src="#{assetsCDN}/s/global/temp1.png")
                        a.pic(herf="#")
                            img(src="#{assetsCDN}/s/global/temp2.png")
            .tag
                h2 相关标签
                .tag-control
                    -docs.tag.forEach(function(item){
                        a=item
                    -})
